user.bazelrc
MODULE.bazel.lock
bazel-IrredenEngine/
bazel-bin/
bazel-out/
bazel-testlogs/

# local build and tooling output
build/
cmake-build-*/
compile_commands.json
.cache/
CMakeUserPresets.json

# editor files
.vscode/

# creations: keep demos, ignore other top-level folders
creations/*
!creations/demos/
!creations/demos/**
